<div>
    <h2 id="page-heading">
        <span>Expeditions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-expedition" [routerLink]="['/expedition/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Expedition
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="expeditions?.length === 0">
        <span>No expeditions found</span>
    </div>
    <div class="table-responsive" *ngIf="expeditions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Tracking Code</span></th>
            <th scope="col" ><span>Date</span></th>
            <th scope="col" ><span>Details</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let expedition of expeditions ;trackBy: trackId">
                <td><a [routerLink]="['/expedition', expedition.id, 'view' ]">{{expedition.id}}</a></td>
                <td>{{expedition.trackingCode}}</td>
                <td>{{expedition.date | date:'medium'}}</td>
                <td>{{expedition.details}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/expedition', expedition.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/expedition', expedition.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/expedition', { outlets: { popup: expedition.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
